body {

    background-color: darkred;
    margin-top: 100px;
}

html {
    height: 70%;
}

.frame {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color:beige;
    border: 10px gold double;
    padding: 10px;
   
}

.infoArea {
    width: 700px;
    height: 200px;
    display: flex;
    margin-top: 10px;
    padding-left: 0px;
    background: transparent;
    gap: 0px;

}

.hexagramArea {
    background:transparent;
    /* margin-top: 200px; */
    background: transparent;
    width: 200px;
    padding: 10px;
    margin-left: 0px;
    padding-left: 0px;
    
    
}
.lineArea {
    background: transparent;
    margin: auto;
    width: 10rem;
    height: 1rem;
    margin-top: 0.6rem;
    display: flex;
    gap: 2rem;

}

.line {
    background:black;
    width: 100%;
    height: 100%;
    
}

.lineArea:hover .line{
    background: darkslategrey;
    cursor: pointer;
}

.lineArea:hover > .lineNumber {
    display: block;
    color: chocolate;
}

.lineNumber {
    position: absolute;
    margin-top: 7px;
    display: none;
}

.hexagramTitle {
    margin-bottom: 0px;
    margin-top: 40px;
    background:transparent;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background:transparent;
    font-size: 20px;
    font-family: cursive;
    transition: opacity  ease-in-out 0.8s;
}

.fade {
    opacity: 0;
}

#info {
    background: transparent;
    width: 100px;
    padding: 0px;
    display: block;
    text-align: center;
    margin-top: 43px;
    
    
    
}

#info .ut {
    background: transparent;
    font-size: 20px;
    margin-bottom: 20px;
    transition: opacity  ease-in-out 1s;
    text-align: center;
}

#info .bt {
    background: transparent;
    font-size: 20px;
    margin-top: 16px;
    transition: opacity  ease-in-out 1s;
    text-align: center;
}

.buttonsArea {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}