:root {
    --bg1: #f5ac27;
    --bg2: #ffd84b;
    --darkred: #9f0102;
    --red: #ff0114;
    --cleargreen: #0e9594;
    --green: #127475;
    --clearblue: #227c9d;
    --blue: #3a86ff;
    --yellow: #f7c118;
  }

html {
    font-size: 70%;
}
* {
    box-sizing: content-box;
    user-select: none; 
    touch-action: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg1);
    overflow: hidden;
    height: calc(100% - 4.3rem);
}

@font-face {
    font-family: 'chinese1';
    src: url(assets/fonts/chinese1.ttf);
    font-family: 'chinese2';
    src: url(assets/fonts/chinese2.ttf);
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    height: 4.3rem;
    background: black;
    border-bottom: 0.31rem solid white;
    justify-content: space-between;
    margin-bottom: 6.25rem;
}
.logoArea {
    margin-left: 3.12rem;
    padding-top: 0.31rem;
}
.logo {
    margin: auto;
    font-size: 2.5rem;
    color: var(--red);
    font-family: Kaushan Script;
    font-weight: bold;
    text-shadow: 0.31rem 0.06rem 0.43rem;
}
.logo span {
    font-size: 1.87rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-shadow: 0.06rem 0.06rem 0.12rem;
}

.flagsArea {
    margin-right: 3.12rem;
}
.flag {
    margin-top: 1.25rem;
    margin-right: 0.6rem;
    -webkit-user-drag: none; 
    width: 2.8rem;
    height: 1.8rem;
    border: 0.12rem solid white;
    border-radius: 0.31rem;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg2);
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0;
    padding: 36px;
    padding-top: 50px;
    margin: auto;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.37rem;
    background: white;
    border-top: 0.31rem solid black;
    font-weight: bold;
    text-align: center;
    line-height: 4.37rem;
}
.footer div {
    padding: 0;
    margin: 0;
}

.frameArea 
{
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 24rem;
    margin-right: 0.62rem;
    
}
.frame {
   margin: auto;
    overflow: hidden;
    width: 26.7rem;
    height: 26.7rem;
    background-image: url("assets/images/paperBG.jpg");
    background-size: cover;
    border: 0.93rem var(--darkred) groove ; 
    box-shadow: -0.25rem 0.25rem 0.25rem 0.12rem;
    position: relative;
    margin-right: 0px;
    
}

.slidesArea {
    display: none;
    width: 53.4rem;
    height: 100%;
    background-color: transparent;
    position: absolute;
}
.smooth {
    transition: margin-left 1s ease-in-out;
}

.separator {
    background: transparent;
    float: left;
    width: 3rem;
    height: 25rem;
}

.slide {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-color: transparent;
    float: left;
}

.controllersArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.37rem;
    margin-top: 18.75rem;
}
.nextHexagram,
.prevHexagram
{
    display: block;
    z-index: 9;
    cursor: pointer;
    font-family: Hind;
    font-weight: bold;
    width: 437.5rem;
    background: rgba(255, 255, 255, 0.4);
    text-align: right;
    font-size: 0.91rem;
    letter-spacing: 1.3px;
    padding: 0.62rem 1rem;
    text-decoration: underline;
    box-shadow: 0px 0px 0.80px;
    margin-right: 0.43rem;
    padding-right: 0.43rem;
    margin-top: 6rem;

}
.prevHexagram {
    left: 1.25rem;
    text-align: left;
    margin-left: 0.43rem;
    padding-left: 0.43rem;

}
.arrow {
    font-size: 40px;
    margin-top: 70px;
    text-decoration: none;
}

.infoArea {
    width: 43.75rem;
    height: 1.25rem;
    display: flex;
    margin-top: 1%; /* 0.62rem */
    background: transparent;
    gap: 0px;
}

.yinyangArea1,
.yinyangArea2{
    display: none;
    width: 100%;
    opacity: 0;
}
.yinyangArea1.show,
.yinyangArea2.show{
    display: block;
    opacity: 90%;
}
.yinyangArea1 img,
.yinyangArea2 img {
    margin-top: -86%;
    width: 100%;
    animation: rotation 1s infinite linear;
}

.hexagramArea {
    background: transparent;
    width: 12.5rem;
    padding: 0.62rem;    
}

.linesArea {
    width: 100%;
}
.lineArea {
    background: transparent;
    margin: auto;
    width: 10rem;
    height: 1rem;
    margin-top: 0.6rem;
    display: flex;
    gap: 2.6rem;
}
.line {
    background:black;
    width: 100%;
    height: 100%;
}
.lineArea:hover .line{
    background: darkslategrey;
    cursor: pointer;
}

/*
.lineArea .line {
    margin-right: 2.5rem;
}
*/
.emptyLine {
    background: transparent;
    width: 100%;
    height: 100%;
}
.lineNumber {
    visibility: hidden;
    font-size: 0.93rem;
    color: #333;
    font-family: Kaushan;
    font-weight: bold;
    float: left;
    width: 0.125rem;
    font-weight: bold;
    margin-top: 0px; /* 0px */
    margin-left: -0.93rem;
}
.lineArea:hover .lineNumber {
    visibility: visible;
    display: block;
}

.identification {
    margin-left: 3.9rem;
    height: 3.12rem;
    margin-top: 1rem;
}
.hexagramNumber1,
.hexagramNumber2 {
    display: inline-block;
    background-color: white;
    font-size: 0.93rem;
    margin-left: 4.5rem;
    margin-top:  0rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 0.12rem solid #333;
    text-align: center;
    line-height: 1.12rem;
}
.hexagramTitle1,
.hexagramTitle2 {
    margin-bottom: 1%; 
    margin-top: 3.7rem; 
    background: transparent;
    height: 3.12rem;
    text-align: center;
    line-height:  1.9rem;
    font-size: 1.409rem;
    font-family: Kaushan Script;
    transition: opacity  ease-in-out 0.8s;
}
.charactere1,
.charactere2
 {
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Ma Shan Zheng';
    text-align: center;
    margin-top: 2rem;
    margin-left: 0.8rem;
    transition: opacity  ease-in-out 1s;
    height: 2.5rem;
    line-height: 3.12rem;
    align-items: center;
}

.fade {
    opacity: 0;
}

.infoArea {
    margin-top: 0;
    margin-left: 1rem;
    margin-top: -0.7rem;
}
#info {
    width: 6.2rem;
    padding: 0;
    display: block;
    font-family: Simonetta;
    font-weight: 800;
    text-align: center;
    margin-top: 1.9rem;
    margin-left: 0.1rem;
}
#info span {
    margin-left: 0.2rem;
}
#info .ut1,
#info .ut2
{
    font-size: 1.4rem;
    margin-bottom: 1.25rem;
    transition: opacity  ease-in-out 1s;
    text-align: center;
    font-weight: bold;
    margin-left: 0.2rem;
}
#info .bt1,
#info .bt2
{
    font-size: 1.4rem;
    margin-top: 1rem;
    transition: opacity  ease-in-out 1s;
    text-align: center;
    font-weight: bold;
    margin-left: 0.2rem;
}

.buttonsArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.20rem;
    margin-right: 29.37rem;
    margin-left: 0.62rem;
}
.changeSelector {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.invertButton {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--red);
    border: 0.12rem outset var(--clearblue);
    text-align: center;
    font-size: 0.76rem;
    font-weight: bold;
    color: azure;
    border-radius: 0.31rem;
    padding: 0.31rem 0.31rem;
    z-index: 999;
    margin-top: 0.31rem;
    
}

.invertButton:hover {
    filter: brightness(120%);
    font-weight: bold;
    border: 3px outset #068b76;
}

.invertButton:hover + .yinyangIcon {
    visibility: visible;
    opacity: 100;
}

.invertButton:not( :hover ) + .yinyangIcon {
    visibility: visible;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.yinyangIcon {
    Transform: translateY(15px);
}
.templateArea {
    position: absolute;
    background-color: aliceblue;
    transform: rotate(180deg);
    width: 5rem;
    height: 5rem;
    padding: 5px;
    margin-top: 0.7rem;
    margin-left: 1rem;
    box-shadow: 0 0 0.31rem;
}
.templateArea img {
    -webkit-user-drag: none; 
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

.hintArea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    margin-top: 0.44rem;
    margin-bottom: 0.44rem;
    font-size: 1rem;
}

.about-button {
    position: absolute;
    left: 23rem;
    top: 1rem;
    background-color: var(--blue);
    color: azure;
    width: 1.7rem;
    height: 1.7rem;
    font-weight: bold;
    font-size: 1.25rem;

}
.about-button#second {
    left: 51rem; 
}
.aboutArea {
    display: none;
    position: absolute;
    
    text-align: justify;
    background-color: #01497c;
    color: mediumturquoise;
    padding: 1rem;
    padding-right: 1.25rem;
    z-index: 100;
    width: 97%;
    height: 100%;
    
}
.aboutContainer {
    margin-top: -1rem;
    position: absolute;
    top: 50%;
    padding: 0.4rem;
    padding-right: 2.5rem;
    transform: translateY(-50%);
    background-color: transparent;
}
#aboutQuote {
    margin: 0.4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 0.78rem;
    margin-bottom: 0.7rem;
}
.about-title,
.about-content {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.about-title {
    margin: 0.19rem;
    
    color: #fee440;
    font-size: 0.78rem;
    font-weight: bold;
    margin-top: 0.33rem;
    text-indent: -0.30rem;
}
.about-content {
    text-indent: -0.2rem;
    font-size: 0.78rem;
    margin: 0;
    margin-left: 0.61rem;
    color: #48bfe3;
}

.about-content b {
    font-weight: 900;
}

.trigram-name {
    color: red;
}
.closeButton {
    position: absolute;
    top: 3%;
    right: 10%;
    font-size: 0.93rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: lightsteelblue;
}

.consultArea {
    display: none;
    margin: auto;
    height: 150px;
    margin-right: 230px;
    font-size: 30px;
    text-align: center;
    padding: 0.31rem;
    width: 500px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #514645;
    margin-bottom: 200px;
    
}
.consultButton {
    margin: auto;
    margin-top: 0.62rem;
    margin-right: 90px;
    display: flex;
    width: 4.37rem;
    height: 3.12rem;
    padding: 10px;
    background-color: var(--green);
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: 3px dashed var(--cleargreen);
}
.consultButton:hover {
    filter: brightness(120%)
}
.gameArea {
    
    width: 400px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
.tableArea {
    width: 56.25rem;
    height: 5rem;
    /*margin: 0 auto;*/
    
    background-color:burlywood;

    border: 3px solid sienna;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

.conclusionArea {
    display: none;
}

.consultMessage {
    margin: auto;
    font-size: 0.94rem;
    color: white;
}

.coinsButton {
    width: 240px;
    height: 30px;
    margin-left: 10px;
    color: #9e2a2b;
    background-color: #f1dca7;
    padding: 15px;
    font-size: 1.06rem;
    font-weight: bold;
    border: 3px solid  #ffcb69;
    border-radius: 10px;
}

.coin {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    transform-style: preserve-3d;

    
}

.yinFace, .yangFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.yinFace {
    background-image: url(./assets/coins/yinCoin.png);
    background-size: cover;
}
.yangFace {
    backface-visibility: hidden;
    background-image: url(./assets/coins/yangCoin.png);
    background-size: cover;
}

.coin.yin {
   transform: rotateY(180deg);
}
.coin.yang {
    
}

.exitButton {
    margin-right: 50px;
}

.aboutIChing {
    background-color: #514645;
    font-family: hind;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px;
    line-height: 16px;
}

@media (max-width: 800px) and (min-aspect-ratio: 13/9) {
    * {
        transform: rotate(90deg);
    }
}

@media only screen and (max-width: 700px) {

    html {
        font-size: 95%;
    }
    .container {
        padding: 0;

    }
    .frame {
        margin-left: 10px;
        margin-top: 20px;
    }

    .frameArea {
        margin-top: 80px;
        margin-left: 400px;
    }

    .buttonsArea {
        margin-right: 320px;
        margin-top: 98px;
    }
    .changeSelector {
        font-size: 16px;
    }

    .consultArea {
        width: 100%;
        height: 300px;
        padding: 2rem;
    }
    .consultMessage {
        font-size: 1rem;
        margin-left: -60px;
    }
    .gameArea {
        margin-top: 50px;
        flex-direction: column;
        gap: 10px;
    }
    .tableArea {
        width: 290px;
    }
    .coinsButton {
        height: 50px;
    }
    .conclusionArea {
        margin-top: 50px;
    }
    .hintArea {
            font-size: 1.3rem;
            font-weight: bold;
    }
    .aboutIChing {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }



}
@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

