body {

    background-color: darkred;
    margin-top: 100px;
}
* {
    box-sizing: content-box;
}
html {
 
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}
  

.frame {
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    background-image: url("assets/images/paperBG.jpg");
    border: 10px gold  inset; 
    padding: 10px;
   
}

.infoArea {
    width: 700px;
    height: 200px;
    display: flex;
    margin-top: 10px;
    padding-left: 0px;
    background: transparent;
    gap: 0px;

}

.yinyangArea {
    display: none;
    position: absolute;
    top: 95px;
    left: 100px;
    /*transition: opacity  linear 1s;*/
    opacity: 0%;

}

.yinyangArea.show {
    display: block;
    opacity: 90%;
    
    
}

.yinyangArea img {
    width: 100%;
    animation: rotation 1s infinite linear;

}


.hexagramArea {
    background:transparent;
    /* margin-top: 200px; */
    background: transparent;
    width: 200px;
    padding: 10px;
    margin-left: 0px;
    padding-left: 0px;
    
    
}
.lineArea {
    background: transparent;
    margin: auto;
    width: 10rem;
    height: 1rem;
    margin-top: 0.6rem;
    display: flex;
    gap: 2rem;
}

.line {
    background:black;
    width: 100%;
    height: 100%;
}

.lineArea:hover .line{
    background: darkslategrey;
    cursor: pointer;
}

.lineArea:hover > .lineNumber {
    display: block;
    color: chocolate;
}

.lineNumber {
    position: absolute;
    margin-top: 7px;
    display: none;
}

.hexagramTitle {
    margin-bottom: 15px;
    margin-top: 40px;
    background:transparent;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background:transparent;
    font-size: 20px;
    font-family: cursive;
    transition: opacity  ease-in-out 0.8s;
}

.fade {
    opacity: 0;
}

#info {
    background: transparent;
    width: 100px;
    padding: 0px;
    display: block;
    text-align: center;
    margin-top: 43px;
}

#info .ut {
    background: transparent;
    font-size: 20px;
    margin-bottom: 20px;
    transition: opacity  ease-in-out 1s;
    text-align: center;
}

#info .bt {
    background: transparent;
    font-size: 20px;
    margin-top: 16px;
    transition: opacity  ease-in-out 1s;
    text-align: center;
}

.buttonsArea {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.buttonsArea button {
    background-color: crimson;
    border: 2px outset yellow;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: bold;
}

.buttonsArea button:hover {
    border: 4px groove yellow; 
}